{% extends "layout.twig" %}
{% block class %}bk-pt-blogpost{% endblock %}
{% block content %}

<div class="blog-post-wrapper">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

        <!-- Container -->
        <div class="container">
            <!-- Main Widget Zone -->
            {{zone('main')|raw}}
        </div>
        <!-- End Container -->

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

</div>

{% endblock %}

{% block scripts %}
    <script>
        if($(".post-article--has-image").length > 0)
        {
        $("body").addClass("blog-post--has-image");
        }
    </script>
{% endblock %}