{% extends "layout.twig" %}
{% block class %}bk-pt-ecomproduct{% endblock %}
{% block content %}

<div class="ecomproduct-page">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

        <!-- Container -->
        <div class="container">
            <!-- Main Widget Zone -->
            {{zone('main')|raw}}
        </div>
        <!-- End Container -->

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

</div>

{% endblock %}


{% block scripts %}

  <script nonce="{{ numberUsedOnce }}">
    window.touch_enabled = 'ontouchstart' in window || 'onmsgesturechange' in window;
    
    window.addEventListener('mousemove', function () {
      window.touch_enabled = false;
    });
    
    window.addEventListener('touchstart', function () {
      window.touch_enabled = true;
    });
    
    if (window.touch_enabled === false) {
      document.querySelectorAll('.product-image').forEach(function (element) {
        element.addEventListener('mouseover', function () {
          const imageLink = element.querySelector('.image-link');
          if (imageLink) {
            imageLink.style.transform = 'scale(2)';
          }
        });
    
        element.addEventListener('mouseout', function () {
          const imageLink = element.querySelector('.image-link');
          if (imageLink) {
            imageLink.style.transform = 'scale(1)';
          }
        });
    
        element.addEventListener('mousemove', function (e) {
          const imageLink = element.querySelector('.image-link');
          if (imageLink) {
            const rect = element.getBoundingClientRect();
            const offsetX = e.pageX - rect.left - window.scrollX;
            const offsetY = e.pageY - rect.top - window.scrollY;
            const xPercent = (offsetX / element.offsetWidth) * 100;
            const yPercent = (offsetY / element.offsetHeight) * 100;
            imageLink.style.transformOrigin = `${xPercent}% ${yPercent}%`;
          }
        });
      });
    }
</script>
{% endblock %}