{% extends "layout.twig" %}
{% block class %}bk-pt-store{% endblock %}

{% block content %}

<div class="store-page">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

        <!-- Container -->
        <div class="container filter-container">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

            <div class="toggle-filter">
               <div class="toggle-items">
                    <div class="toggle-item"></div>
                    <div class="toggle-item"></div>
                    <div class="toggle-item"></div>
               </div>
               <div class="toggle-active"></div>
            </div>

        </div>
        <!-- End Container -->

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}
</div>

{% endblock %}

{% block scripts %}
    <script nonce="{{ numberUsedOnce }}">
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".toggle-filter").forEach(function (button) {
                button.addEventListener("click", function () {

                document.body.classList.toggle("filters-open");
            
                const span = document.createElement("span");
                span.classList.add("animate");
                this.prepend(span);
            
                span.style.position = "absolute";
                span.style.width = "0px";
                span.style.height = "0px";
                span.style.opacity = "1";
                span.style.transition = "width 0.5s, height 0.5s, opacity 0.5s";
                setTimeout(() => {
                    span.style.width = "80px";
                    span.style.height = "80px";
                    span.style.opacity = "0";
                });
            
                setTimeout(() => {
                    span.remove();
                }, 500);
            
                this.classList.toggle("active");
                });
            });
            
            if (document.querySelector(".button.button--clear")) {
                document.body.classList.add("clear-filters");
            }
        });
    </script>
{% endblock %}
