<div class="template-footer">

        <div class="flex-container">

            <div class="flex-item template-footer1">
                {{widget('profile', 'socialicons', {'profileType':'form', 'form':'profile'})|raw}}
            </div>
            <div class="flex-item template-footer2">
                {{widget('profile', 'email', {'profileType':'email', 'email':'profile'})|raw}}
            </div>

        </div>
</div>
